/* RESET */

*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}



/* CORPO */

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;


    overflow-x:hidden;


    font-family:'Segoe UI', Arial, sans-serif;



    background:

    linear-gradient(

        135deg,

        #ff9a9e,

        #fad0c4,

        #ffdde1

    );


}



/* CONTAINER PRINCIPAL */


.container{

    position:relative;

    z-index:2;

    width:100%;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px 20px;

}



/* CARD INICIAL */


.card{


    width:600px;


    padding:60px 50px;


    text-align:center;



    background:

    rgba(255,255,255,0.25);



    backdrop-filter:blur(15px);



    border-radius:30px;



    box-shadow:

    0 20px 50px rgba(0,0,0,0.2);



    animation:

    aparecer 1s ease;


}




h1{


    color:white;


    font-size:45px;


    line-height:1.2;


    margin-bottom:25px;


}




p{


    color:white;


    font-size:20px;


    line-height:1.6;


}



/* BOTÃO */


button{


    margin-top:35px;


    padding:15px 40px;



    border:none;



    border-radius:50px;



    background:white;



    color:#ff4f81;



    font-size:18px;



    font-weight:bold;



    cursor:pointer;



    transition:.3s;


}



button:hover{


    transform:scale(1.1);



    background:#ff4f81;



    color:white;


}





/* CARTA */


.letter{


    display:none;



    width:600px;



    padding:50px;



    background:white;



    border-radius:25px;



    text-align:center;



    box-shadow:



    0 20px 50px rgba(0,0,0,0.3);



    animation:

    abrirCarta .8s ease;


}



.letter h2{


    color:#ff4f81;



    font-size:32px;



    margin-bottom:25px;


}



.letter p{


    color:#555;



    font-size:20px;



    line-height:1.8;


}





/* ANIMAÇÕES */


@keyframes aparecer{


from{


    opacity:0;


    transform:translateY(40px);


}


to{


    opacity:1;


    transform:translateY(0);


}


}





@keyframes abrirCarta{


from{


    opacity:0;


    transform:

    scale(.5)

    rotateX(90deg);


}



to{


    opacity:1;


    transform:

    scale(1)

    rotateX(0);


}


}





/* ESCONDER CARD */


.esconder{


    display:none;


}




/* CORAÇÕES */


.hearts{


    position:absolute;


    width:100%;


    height:100%;


    top:0;


    left:0;


    overflow:hidden;



    pointer-events:none;


}




.heart{


    position:absolute;


    bottom:-30px;


    color:#ff4f81;


    animation:

    subir 8s linear infinite;


}




@keyframes subir{


0%{


    transform:

    translateY(0)

    rotate(0deg);



    opacity:1;


}




100%{


    transform:

    translateY(-110vh)

    rotate(360deg);



    opacity:0;


}


}





/* CELULAR */


@media(max-width:700px){


    .card,
    .letter,
    .gallery{


        width:92%;


        padding:30px 20px;


    }



    h1{


        font-size:30px;


    }



    .letter h2{


        font-size:26px;


    }



    .letter p{


        font-size:17px;


    }



    .final-message{


        font-size:16px;


        padding:20px;


    }



}

/* GALERIA ESCONDIDA */


.gallery{


    display:none;


    margin-top:40px;


    background:white;


    padding:40px;


    border-radius:30px;


    width:600px;


    text-align:center;


    animation:

    aparecerFotos .8s ease;


}



.gallery h2{


    color:#ff4f81;


    margin-bottom:30px;


}



.photos{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}



.photos img{


    width:180px;


    height:220px;


    object-fit:cover;


    border-radius:20px;


    box-shadow:

    0 10px 25px rgba(0,0,0,.2);


    transition:.3s;


}



.photos img:hover{


    transform:scale(1.08);


}





@keyframes aparecerFotos{


from{


    opacity:0;


    transform:

    translateY(50px);


}


to{


    opacity:1;


    transform:

    translateY(0);


}


}



@media(max-width:700px){


.gallery{


    display:none;


    margin-top:40px;


    background:white;


    padding:50px;


    border-radius:30px;


    width:600px;


    text-align:center;


    animation:

    aparecerFotos .8s ease;



}



.photos img{


        width:140px;


        height:180px;


    }



}

.final-message{


    margin-top:40px;


    padding:25px;


    background:rgba(255, 154, 158, 0.15);



    border-radius:20px;



    color:#ff4f81;



    font-size:20px;



    font-weight:500;



    line-height:1.7;



    text-align:center;



    font-style:italic;



}