<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Para Gabi ❤️</title>


    <link rel="stylesheet" href="/static/style.css">


</head>


<body>


<div class="hearts"></div>



<main class="container">


    <div class="card">


        <h1>
            Site desenvolvido para o amor da minha vida ❤️
        </h1>



        <p>
            Uma pequena surpresa feita especialmente para você.
        </p>



        <button id="openLetter">

            💌 Abrir minha carta

        </button>



    </div>



    <div class="letter" id="letter">


        <h2>
            Para você, Gabi ❤️
        </h2>



        <p>

            Eu fiz esse pequeno site para mostrar
            o quanto você é especial para mim.

            Cada momento ao seu lado se torna uma
            memória que eu quero guardar.

            Obrigado por fazer parte da minha vida.

            ❤️

        </p>


    </div>


</main>




<script src="/static/script.js"></script>


</body>


</html>